﻿/*
  [CSS Index]
  
  ---
  
  Template Name: Imex - Under Construction Template
  Author:  ex-nihilo
  Version: 1.0
*/

 
/* 
  1. TEMPLATE BACKGROUNDS
    1.1. single IMG BACKGROUND
	1.2. slick fullscreen slideshow IMG BACKGROUND
	1.3. ken burns slideshow IMG BACKGROUND
  2. reset
  3. layout
    3.1. upper page
    3.2. lower page
  4. welcome message
  5. section
  6. newsletter form
  7. button effect
  8. center container
  9. divider
  10. link underline
  11. borders
  12. logo BIG
  13. logo SMALL
  14. social icons
  15. home credits, home contact
  16. countdown launcher
  17. countdown reveal
  18. countdown
  19. scroll indicator
  20. to top arrow
  21. preloader
  22. hero
    22.1. hero overlay
    22.2. hero container
    22.3. hero bg
    22.4. hero fullscreen FIX
    22.5. hero center container
  23. Slick v1.6.0 CUSTOM
    23.1. slick slide
    23.2. slick slide flickering FIX
    23.3. slick fullscreen slideshow
    23.4. slick navigation 
  24. videos
    24.1. YouTube video
        24.1.1. jquery.mb.YTPlayer v3.1.13 CUSTOM
    24.2. Vimeo video
    24.3. HTML5 video
  25. ken burns slideshow
*/


/* 1. TEMPLATE BACKGROUNDS */
/* 1.1. single IMG BACKGROUND */
.bg-img-SINGLE {
background-image: url(../img/background/SINGLE-bg.jpg);
}


/* 1.2. slick fullscreen slideshow IMG BACKGROUND */
.bg-img-1 {
background-image: url(../img/background/hero-bg-1.jpg);
}

.bg-img-2 {
background-image: url(../img/background/hero-bg-2.jpg);
}

.bg-img-3 {
background-image: url(../img/background/hero-bg-3.jpg);
}

.bg-img-4 {
background-image: url(../img/background/hero-bg-4.jpg);
}


/* 1.3. ken burns slideshow IMG BACKGROUND */
.kenburns-slide-1 {
background-image: url(../img/background/hero-bg-1-2.jpg);
}

.kenburns-slide-2 {
background-image: url(../img/background/hero-bg-2-2.jpg);
}

.kenburns-slide-3 {
background-image: url(../img/background/hero-bg-3-2.jpg);
}

.kenburns-slide-4 {
background-image: url(../img/background/hero-bg-4-2.jpg);
}


/* 2. reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
box-sizing: border-box;
}

html, body {
height: 100%;
line-height: 170%;
}

body {
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}

ol, ul {
list-style: none;
}

blockquote, q {
quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
content: "";
content: none;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

*:focus {  
outline: none;
}

/* remove dotted outline from links,
button and input element */
a:focus,
a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
border: 0;
outline: 0;
}

/* IE10 scrollbar FIX */
html {
-ms-overflow-style: scrollbar;
}


/* 3. layout */
body {
font-family: 'Raleway', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
text-align: center;
color: #5f5f5f;
background: #fff;
 -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
width: 100%;
height: 100%;
overflow-x: hidden;
overflow-y: auto;
margin: 0;
padding: 0;
}

a {
color: #5f5f5f;
text-decoration: none;
outline: none;
 -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
-webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}

a:hover,
a:visited,
a:active,
a:focus {
color: #5f5f5f;
text-decoration: underline;
outline: none;
-webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}

p {
 -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

p a,
p a:hover {
color: #5f5f5f;
text-decoration: underline;
outline: none;
-webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}

strong {
font-weight: bold;
}

::-moz-selection {
background: #5f5f5f;
color: #fff;
}

::selection {
background: #5f5f5f;
color: #fff;
}

.nopadding {
padding: 0!important;
margin: 0!important;
}


/* 3.1. upper page */
.upper-page {
position: relative;
width: 100%;
height: 100%;
overflow: hidden;
left: 0;
top: 0;
margin: 0;
}


/* 3.2. lower page */
#newsletter-wrapper,
#newsletter {
position: relative;
height: auto;
min-height: inherit;
overflow: hidden;
background: #fff;
z-index: 110;
}

#newsletter-wrapper {
margin-left: 0;
margin-right: 0;
}

#newsletter {
margin-left: 55px;
margin-right: 55px;
}

@media only screen and (max-width: 640px) {
  #newsletter {
    margin-left: 0;
    margin-right: 0;
  }
}


/* 4. welcome message */
.welcome-message {
position: fixed;
width: 100%;
height: auto;
bottom: 154px;
z-index: 105;
}

.welcome-message,
.welcome-message.bottom-position,
.welcome-message.bottom-position-primary {
-webkit-transition: all 1.5s ease;
   -moz-transition: all 1.5s ease;
	-ms-transition: all 1.5s ease;
     -o-transition: all 1.5s ease;
        transition: all 1.5s ease;
}

.welcome-message.bottom-position,
.welcome-message.bottom-position-primary {
-webkit-transform: translateY(400px);
   -moz-transform: translateY(400px);
    -ms-transform: translateY(400px);
     -o-transform: translateY(400px);
        transform: translateY(400px);
}

.welcome-message.bottom-position-primary {
        opacity: 0;
   -moz-opacity: 0;
-webkit-opacity: 0;
filter: alpha(opacity=0);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

@media all and (min-width: 1920px) {
  .welcome-message {
    bottom: 214px;
  }
}

@media only screen and (max-width: 980px) {
  .welcome-message {
    bottom: 154px;
  }
}

@media only screen and (max-width: 880px) {
  .welcome-message {
    display: none;
    visibility: hidden;
  }
}

.welcome-message h4 {
position: relative;
font-family: 'Montserrat', Arial, sans-serif;
font-size: 60px;
font-weight: 800;
text-transform: uppercase;
line-height: 1;
text-align: center;
letter-spacing: -0.08em;
color: #111;
margin: 0 0 20px 0;
padding: 0;
z-index: 1;
}

.welcome-message-color {
color: #5f5f5f;
}


/* 5. section */
.sections {
position: relative;
z-index: 5;
}

@media only screen and (max-width: 1200px) {
  .sections {
    width: 100%!important;
  }
}

@media only screen and (max-width: 640px) {
  .sections {
    padding: 0 10px;
  }
}

section h2.section-heading {
position: relative;
font-family: 'Montserrat', Arial, sans-serif;
font-size: 60px;
font-weight: 800;
text-transform: uppercase;
line-height: 1.3;
text-align: center;
letter-spacing: -0.08em;
color: #111;
margin: -17px 0;
padding: 0;
z-index: 1;
}

@media only screen and (max-width: 880px) {
  section h2.section-heading {
    font-size: 50px;
	margin: -13px 0 -14px 0;
  }
}

@media only screen and (max-width: 640px) {
  section h2.section-heading {
    font-size: 40px;
    margin: -11px 0;
  }
}

h2.section-subheading {
font-family: 'Montserrat', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 700;
text-transform: uppercase;
margin: -7px 0 -6px 0;
text-align: center;
letter-spacing: 0.05em;
}

@media only screen and (max-width: 880px) {
  h2.section-subheading {
    font-size: 14px;
	margin: -6px 0 -7px 0;
  }
}

@media only screen and (max-width: 640px) {
  h2.section-subheading {
    font-size: 13px;
	margin: -7px 0;
  }
}

h2.section-subheading {
color: #111;
}

h2.section-subheading span {
position: relative;
display: inline-block;
padding-right: 0;
line-height: 1;
}

h2.section-subheading span:before {
content: "";
position: absolute;
display: block;
top: 50%;
right: 0;
width: 30px;
height: 0;
margin-top: -2px;
}

h2.section-subheading span:before {
border-top: none;
}


/* 6. newsletter form */
#subscribe-wrapper {
position: relative;
width: 80%;
height: 160px;
margin: -20px auto -10px auto;
background: none;
text-align: center;
}

@media all and (min-width: 1920px) {
  #subscribe-wrapper {
	margin: -20px auto 0 auto;
  }
}

@media only screen and (max-width: 880px) {
  #subscribe-wrapper {
    width: 325px;
	height: 115px;
	margin: -15px auto 0 auto;
  }
}

@media only screen and (max-width: 640px) {
  #subscribe-wrapper {
    width: 230px;
  }
}

.newsletter {
position: relative;
clear: both;
border: none;
background: none;
padding: 0;
overflow: hidden;
}

#subscribe input {
position: relative;
width: 100%;
height: 85px;
font-family: 'Montserrat', sans-serif;
font-size: 50px;
font-weight: 700;
font-style: normal;
text-transform: none;
color: #e0e0e0;
text-align: center;
border: none;
border-bottom: 1px solid #5f5f5f;
background: none;
-webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}

@media all and (min-width: 1920px) {
  #subscribe input {
    height: 95px;
    font-size: 60px;
  }
}

@media only screen and (max-width: 880px) {
  #subscribe input {
    height: 50px;
	font-size: 30px;
  }
}

@media only screen and (max-width: 640px) {
  #subscribe input {
    font-size: 20px;
  }
}

#subscribe input:focus, #subscribe textarea:focus {
color: #e0e0e0;
-webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}

#subscribe input:hover {
border-color: rgba(95, 95, 95, .35);
-webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}

.subscribe-success {
font-family: 'Raleway', sans-serif;
font-size: 10px;
font-style: normal;
font-weight: 500;
letter-spacing: 0.15em;
text-transform: uppercase;
text-align: center;
color: #5f5f5f;
margin: 0 auto;
padding: 21px 0 0 0;
line-height: 1;
 -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 880px) {
  .subscribe-success {
    padding: 15px 0 0 0;
  }
}

#subscribe .subscribe-error {
font-size: 9px;
text-transform: uppercase;
text-align: center;
color: #5f5f5f;
display: block;
margin: 12px auto 0 auto;
padding: 0;
letter-spacing: 0.15em;
font-weight: 500;
 -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

input[type="text"].subscribe-email::-webkit-input-placeholder {
font-family: 'Montserrat', sans-serif;
font-size: 50px;
font-style: normal;
font-weight: 700;
text-transform: none;
color: #e0e0e0;
}

@media all and (min-width: 1920px) {
  input[type="text"].subscribe-email::-webkit-input-placeholder {
    font-size: 60px;
  }
}

input[type="text"].subscribe-email:-ms-input-placeholder {
font-family: 'Montserrat', sans-serif;
font-size: 50px;
font-style: normal;
font-weight: 700;
text-transform: none;
color: #e0e0e0;
}

@media all and (min-width: 1920px) {
  input[type="text"].subscribe-email:-ms-input-placeholder {
    font-size: 60px;
  }
}

input[type="text"].subscribe-email::-moz-placeholder {
font-family: 'Montserrat', sans-serif;
font-size: 50px;
font-style: normal;
font-weight: 700;
text-transform: none;
color: #e0e0e0;
}

@media all and (min-width: 1920px) {
  input[type="text"].subscribe-email::-moz-placeholder {
    font-size: 60px;
  }
}

@media only screen and (max-width: 880px) {
  input[type="text"].subscribe-email::-webkit-input-placeholder {
    font-size: 30px;
  }
}

@media only screen and (max-width: 880px) {
  input[type="text"].subscribe-email:-ms-input-placeholder {
    font-size: 30px;
  }
}

@media only screen and (max-width: 880px) {
  input[type="text"].subscribe-email::-moz-placeholder {
    font-size: 30px;
  }
}

@media only screen and (max-width: 880px) {
  input[type="text"].subscribe-email::-webkit-input-placeholder {
    font-size: 20px;
  }
}

@media only screen and (max-width: 880px) {
  input[type="text"].subscribe-email:-ms-input-placeholder {
    font-size: 20px;
  }
}

@media only screen and (max-width: 880px) {
  input[type="text"].subscribe-email::-moz-placeholder {
    font-size: 20px;
  }
}

input:focus.subscribe-email::-webkit-input-placeholder { color: transparent; }
     input:focus.subscribe-email:-ms-input-placeholder { color: transparent; }
         input:focus.subscribe-email::-moz-placeholder { color: transparent; }
          input:focus.subscribe-email:-moz-placeholder { color: transparent; }
		  
		  
/* 7. button effect */
.c-btn {
position: relative;
display: inline-block;
background: none;
letter-spacing: 0.25em;
font-weight: 700;
font-size: 10px;
text-transform: uppercase;
text-align: center;
margin: 20px 0 0 0;
padding: 11px 25px 9px 25px;
-webkit-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
   -moz-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
     -o-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.c-btn.fullwidth-liquid {
width: 325px;
color: #fff;
background: #111;
border: none;
}

@media only screen and (max-width: 640px) {
  .c-btn.fullwidth-liquid {
    width: 230px;
  }
}

.c-btn::before {
content: "";
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: #fff;
-webkit-transform-origin: right center;
   -moz-transform-origin: right center;
    -ms-transform-origin: right center;
        transform-origin: right center;
-webkit-transform: scale(0, 1);
   -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
     -o-transform: scale(0, 1);
        transform: scale(0, 1);
-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
   -moz-transition: -moz-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: -ms-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
     -o-transition: -o-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.c-btn.fullwidth-liquid::before {
background: #fff;
border: 1px solid #111;
}

.c-btn:hover::before,
a:hover .c-btn::before {
-webkit-transform-origin: left center;
   -moz-transform-origin: left center;
    -ms-transform-origin: left center;
        transform-origin: left center;
-webkit-transform: scale(1, 1);
   -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
     -o-transform: scale(1, 1);
        transform: scale(1, 1);
}

.c-btn span {
display: inline-block;
position: relative;
z-index: 2;
}

.c-btn:hover,
a:hover .c-btn {
color: #111;
}

.c-btn.fullwidth-liquid:hover {
color: #111;
}


/* 8. center container */
.center-container {
position: relative;
display: table;
table-layout: fixed;
width: 100%;
height: 100%;
}

.center-block {
display: table-cell;
vertical-align: middle;
}


/* 9. divider */
.dividerOT.out-top,
.dividerOT.out-bottom,
.dividerOT.out-bottom-last,
.dividerOT.dividerOT-inner {
position: relative;
width: 100%;
margin: 0 auto;
background: none;
z-index: -1;
}

.dividerOT.out-bottom-last {
height: 210px;
}

@media all and (min-width: 1920px) {
  .dividerOT.out-bottom-last {
    height: 260px;
  }
}

.dividerOT.out-top,
.dividerOT.out-bottom,
.dividerOT.dividerOT-inner {
height: 100px;
}

@media all and (min-width: 1920px) {
  .dividerOT.out-top,
  .dividerOT.out-bottom,
  .dividerOT.dividerOT-inner {
    height: 150px;
  }
}

@media only screen and (max-width: 640px) {
  .dividerOT.out-top,
  .dividerOT.out-bottom,
  .dividerOT.dividerOT-inner {
    height: 80px;
  }
}

@media only screen and (max-width: 640px) {
  .dividerOT.out-bottom-last {
    height: 190px;
  }
}


/* 10. link underline */
.link-underline {
position: relative;
display: inline-block;
}

.link-underline::before {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 1px;
background: #5f5f5f;
-webkit-transform-origin: right center;
   -moz-transform-origin: right center;
    -ms-transform-origin: right center;
        transform-origin: right center;
-webkit-transform: scale(0, 1);
   -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
     -o-transform: scale(0, 1);
        transform: scale(0, 1);
-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
   -moz-transition: -moz-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: -ms-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
     -o-transition: -o-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.link-underline:hover::before {
-webkit-transform-origin: left center;
   -moz-transform-origin: left center;
    -ms-transform-origin: left center;
        transform-origin: left center;
-webkit-transform: scale(1, 1);
   -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
     -o-transform: scale(1, 1);
        transform: scale(1, 1);
}


/* 11. borders */
.border-top,
.border-top.top-position,
.border-top.top-position-primary,
.border-bottom,
.border-bottom.bottom-position,
.border-bottom.bottom-position-primary,
.border-left,
.border-left.left-position,
.border-left.left-position-primary,
.border-right,
.border-right.right-position,
.border-right.right-position-primary,
.border-top-header,
.border-top-header.top-position,
.border-bottom-footer,
.border-bottom-footer.bottom-position {
position: fixed;
background: #fff;
-webkit-transition: all 1.5s ease;
   -moz-transition: all 1.5s ease;
	-ms-transition: all 1.5s ease;
     -o-transition: all 1.5s ease;
        transition: all 1.5s ease;
z-index: 100;
}

.border-top {
width: 100%;
height: 206px;
left: 0;
top: 0;
}

@media all and (min-width: 1920px) {
  .border-top {
    height: 266px;
  }
}

@media only screen and (max-width: 880px) {
  .border-top {
    height: 228px;
  }
}

@media only screen and (max-width: 640px) {
  .border-top {
    height: 168px;
  }
}

.border-top.top-position {
-webkit-transform: translateY(-100%);
   -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
     -o-transform: translateY(-100%);
        transform: translateY(-100%);
}

.border-top.top-position-primary {
height: 110px;
top: 0;
}

@media only screen and (max-width: 880px) {
  .border-top.top-position-primary {
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

.border-bottom {
width: 100%;
height: 300px;
left: 0;
bottom: 0;
}

@media all and (min-width: 1920px) {
  .border-bottom {
    height: 390px;
  }
}

@media only screen and (max-width: 980px) {
  .border-bottom {
    height: 360px;
  }
}

@media only screen and (max-width: 880px) {
  .border-bottom {
    height: 210px;
  }
}

@media only screen and (max-width: 640px) {
  .border-bottom {
    height: 208px;
  }
}

.border-bottom.bottom-position {
-webkit-transform: translateY(100%);
   -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
     -o-transform: translateY(100%);
        transform: translateY(100%);
}

.border-bottom.bottom-position-primary {
height: 110px;
bottom: 0;
}

@media only screen and (max-width: 880px) {
  .border-bottom.bottom-position-primary {
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

.border-left {
width: 110px;
height: 100%;
left: 0;
top: 0;
}

@media only screen and (max-width: 880px) {
  .border-left {
    width: 50px;
  }
}

.border-left.left-position {
-webkit-transform: translateX(-110px);
   -moz-transform: translateX(-110px);
    -ms-transform: translateX(-110px);
     -o-transform: translateX(-110px);
        transform: translateX(-110px);
}

@media only screen and (max-width: 880px) {
  .border-left.left-position {
    -webkit-transform: translateX(-55px);
       -moz-transform: translateX(-55px);
        -ms-transform: translateX(-55px);
         -o-transform: translateX(-55px);
            transform: translateX(-55px);
  }
}

.border-left.left-position-primary {
-webkit-transform: translateX(-55px);
   -moz-transform: translateX(-55px);
    -ms-transform: translateX(-55px);
     -o-transform: translateX(-55px);
        transform: translateX(-55px);
}

@media only screen and (max-width: 880px) {
  .border-left.left-position-primary {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
  }
}

@media only screen and (max-width: 640px) {
  .border-left.left-position-primary {
    -webkit-transform: translateX(-110px);
       -moz-transform: translateX(-110px);
        -ms-transform: translateX(-110px);
         -o-transform: translateX(-110px);
            transform: translateX(-110px);
  }
}

.border-right {
width: 110px;
height: 100%;
right: 0;
top: 0;
}

@media only screen and (max-width: 880px) {
  .border-right {
    width: 50px;
  }
}

.border-right.right-position {
-webkit-transform: translateX(110px);
   -moz-transform: translateX(110px);
    -ms-transform: translateX(110px);
     -o-transform: translateX(110px);
        transform: translateX(110px);
}

@media only screen and (max-width: 880px) {
  .border-right.right-position {
    -webkit-transform: translateX(55px);
       -moz-transform: translateX(55px);
        -ms-transform: translateX(55px);
         -o-transform: translateX(55px);
            transform: translateX(55px);
  }
}

.border-right.right-position-primary {
-webkit-transform: translateX(55px);
   -moz-transform: translateX(55px);
    -ms-transform: translateX(55px);
     -o-transform: translateX(55px);
        transform: translateX(55px);
}

@media only screen and (max-width: 880px) {
  .border-right.right-position-primary {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
  }
}

@media only screen and (max-width: 640px) {
  .border-right.right-position-primary {
    -webkit-transform: translateX(110px);
       -moz-transform: translateX(110px);
        -ms-transform: translateX(110px);
         -o-transform: translateX(110px);
            transform: translateX(110px);
  }
}

.border-top-header,
.border-top-header.top-position,
.border-bottom-footer,
.border-bottom-footer.bottom-position {
z-index: 110;
}

.border-top-header {
width: 100%;
height: 110px;
left: 0;
top: 0;
}

.border-top-header.top-position {
-webkit-transform: translateY(-100%);
   -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
     -o-transform: translateY(-100%);
        transform: translateY(-100%);
}

.border-bottom-footer {
width: 100%;
height: 110px;
left: 0;
bottom: 0;
}

.border-bottom-footer.bottom-position {
-webkit-transform: translateY(100%);
   -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
     -o-transform: translateY(100%);
        transform: translateY(100%);
}


/* 12. logo BIG */
.logo-big,
.logo-big-mobile {
position: absolute;
left: 0; 
right: 0;
top: 48px;
margin-left: auto; 
margin-right: auto; 
width: 400px!important;
text-align: center;
-webkit-transition: all 1.5s ease;
   -moz-transition: all 1.5s ease;
	-ms-transition: all 1.5s ease;
     -o-transition: all 1.5s ease;
        transition: all 1.5s ease;
z-index: 115;
}

.logo-big {
display: block;
visibility: visible;
}

@media all and (min-width: 1920px) {
  .logo-big {
    top: 78px;
  }
}

@media only screen and (max-width: 880px) {
  .logo-big {
    display: none;
	visibility: hidden;
  }
}

.logo-big-mobile {
display: none;
visibility: hidden;
}

@media only screen and (max-width: 880px) {
  .logo-big-mobile {
    display: block;
	visibility: visible;
	top: 79px;
    width: 300px!important;
  }
}

@media only screen and (max-width: 640px) {
  .logo-big-mobile {
    top: 49px;
    width: 200px!important;
  }
}

.logo-big.top-position,
.logo-big-mobile.top-position {
-webkit-transform: translateY(-300px);
   -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
     -o-transform: translateY(-300px);
        transform: translateY(-300px);
}

.logo-big.top-position-primary,
.logo-big-mobile.top-position-primary {
-webkit-transform: translateY(-300px);
   -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
     -o-transform: translateY(-300px);
        transform: translateY(-300px);
        opacity: 0;
   -moz-opacity: 0;
-webkit-opacity: 0;
filter: alpha(opacity=0);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}


/* 13. logo SMALL */
.logo,
.logo-small {
position: fixed;
display: block;
width: auto;
height: auto;
-webkit-transition: all 1.5s ease;
   -moz-transition: all 1.5s ease;
	-ms-transition: all 1.5s ease;
     -o-transition: all 1.5s ease;
        transition: all 1.5s ease;
z-index: 115;
}

.logo-small {
margin: 38px 0 0 40px;
}

.logo.top-position {
-webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
     -o-transform: translateY(-200px);
        transform: translateY(-200px);
-webkit-transition: all 1.5s ease;
   -moz-transition: all 1.5s ease;
	-ms-transition: all 1.5s ease;
     -o-transition: all 1.5s ease;
        transition: all 1.5s ease;
}


/* 14. social icons */
.social-icons-wrapper {
position: fixed;
display: block;
width: auto;
height: auto;
-webkit-transition: all 1.5s ease;
   -moz-transition: all 1.5s ease;
	-ms-transition: all 1.5s ease;
     -o-transition: all 1.5s ease;
        transition: all 1.5s ease;
font-size: 44px;
color: #111;
top: 46px;
right: 40px;
cursor: pointer;
z-index: 115;
}

.social-icons-wrapper.top-position {
-webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
     -o-transform: translateY(-200px);
        transform: translateY(-200px);
-webkit-transition: all 1.5s ease;
   -moz-transition: all 1.5s ease;
	-ms-transition: all 1.5s ease;
     -o-transition: all 1.5s ease;
        transition: all 1.5s ease;
}

.social-icons-wrapper ul {
margin: 0 auto;
padding: 0;
list-style-type: none;
}

.social-icons-wrapper ul li {
display: inline-block;
margin: 0 auto;
padding: 0 0 0 5px;
}

ul.social-icons {
font-size: 18px;
line-height: 1;
margin: 0;
padding: 0;
position: relative;
}

ul.social-icons a {
padding: 0;
color: #111;
text-decoration: none;
        opacity: 1;
   -moz-opacity: 1;
-webkit-opacity: 1;
filter: alpha(opacity=100);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
-webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}

ul.social-icons a:hover {
padding: 0;
color: #111;
text-decoration: none;
        opacity: 0.5;
   -moz-opacity: 0.5;
-webkit-opacity: 0.5;
filter: alpha(opacity=50);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
-webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}


/* 15. home credits, home contact */
.bottom-credits,
.bottom-contact {
position: fixed;
display: block;
visibility: visible;
width: auto;
height: 50px;
left: 40px;
bottom: 16px;
font-size: 9px;
text-transform: uppercase;
text-align: left;
letter-spacing: 0.05em;
font-weight: 600;
 -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
-webkit-transition: all .7s;
   -moz-transition: all .7s;
    -ms-transition: all .7s;
     -o-transition: all .7s;
        transition: all .7s;
z-index: 115;
}

.bottom-credits.bottom-position,
.bottom-credits.bottom-position-primary,
.bottom-contact.bottom-position,
.bottom-contact.bottom-position-primary,
.bottom-contact.bottom-position-secondary {
-webkit-transform: translateY(200px);
   -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
     -o-transform: translateY(200px);
        transform: translateY(200px);
-webkit-transition: all .7s;
   -moz-transition: all .7s;
    -ms-transition: all .7s;
     -o-transition: all .7s;
        transition: all .7s;
}

.bottom-credits a,
.bottom-credits a:hover,
.bottom-contact a,
.bottom-contact a:hover {
color: #5f5f5f;
text-decoration: none;
}


/* 16. countdown launcher */
.progress-clock,
.progress-clock-hidden {
position: fixed;
display: block;
width: 41px;
height: 41px;
right: 35px;
bottom: 34px;
-webkit-transition: all .7s;
   -moz-transition: all .7s;
    -ms-transition: all .7s;
     -o-transition: all .7s;
        transition: all .7s;
cursor: pointer;		
z-index: 115;
}

.progress-clock.open,
.progress-clock-hidden.open {
visibility: visible;
}

.progress-clock.close,
.progress-clock-hidden.close {
visibility: hidden;
}

.progress-clock.bottom-position,
.progress-clock-hidden.bottom-position,
.progress-clock.bottom-position-primary,
.progress-clock-hidden.bottom-position-primary {
-webkit-transform: translateY(200px);
   -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
     -o-transform: translateY(200px);
        transform: translateY(200px);
-webkit-transition: all .7s;
   -moz-transition: all .7s;
    -ms-transition: all .7s;
     -o-transition: all .7s;
        transition: all .7s;
}


/* 17. countdown reveal */
.countdown-reveal,
.countdown-reveal-hide {
        opacity: 0;
   -moz-opacity: 0;
-webkit-opacity: 0;
filter: alpha(opacity=0);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
-webkit-transform: scale(0.75);
   -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
     -o-transform: scale(0.75);
        transform: scale(0.75);
}

.countdown-reveal,
.countdown-reveal-hide,
.countdown-reveal-show {
-webkit-transition: all 1.5s ease;
   -moz-transition: all 1.5s ease;
	-ms-transition: all 1.5s ease;
     -o-transition: all 1.5s ease;
        transition: all 1.5s ease;
}

.countdown-reveal-show {
        opacity: 1;
   -moz-opacity: 1;
-webkit-opacity: 1;
filter: alpha(opacity=100);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
-webkit-transform: scale(1);
   -moz-transform: scale(1);
    -ms-transform: scale(1);
     -o-transform: scale(1);
        transform: scale(1);
}


/* 18. countdown */
.countdown {
position: relative;
width: auto;
height: auto;
margin: 0 auto;
}

.countdown-top,
.countdown-bottom {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 11px;
text-align: center;
text-transform: uppercase;
letter-spacing: 0.65em;
color: #fff;
}

.countdown-top {
margin-bottom: -11px;
}

@media only screen and (max-width: 880px) {
  .countdown-top {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 640px) {
  .countdown-top {
    margin-bottom: 3px;
  }
}

.countdown-bottom {
margin-top: -6px;
}

@media only screen and (max-width: 880px) {
  .countdown-bottom {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 640px) {
  .countdown-bottom {
    margin-top: 6px;
  }
}

.countdown h3 {
position: relative;
font-family: 'Montserrat', sans-serif;
font-size: 300px;
font-weight: 800;
color: #fff;
text-align: center;
text-transform: uppercase;
letter-spacing: 0.05em;
line-height: 1;
margin: 0 auto;
padding: 0 55px;
z-index: 1;
}

@media only screen and (max-width: 880px) {
  .countdown h3 {
    font-size: 200px;
  }
}

@media only screen and (max-width: 640px) {
  .countdown h3 {
    font-size: 120px;
  }
}


/* 19. scroll indicator */
.scroll-indicator-wrapper {
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: #202020;
        opacity: 1;
   -moz-opacity: 1;
-webkit-opacity: 1;
filter: alpha(opacity=100);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
visibility: visible;
-webkit-transition: all 1.5s ease;
   -moz-transition: all 1.5s ease;
	-ms-transition: all 1.5s ease;
     -o-transition: all 1.5s ease;
        transition: all 1.5s ease;
}

.scroll-indicator-wrapper.bottom-position {
-webkit-transform: translateY(200px);
   -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
     -o-transform: translateY(200px);
        transform: translateY(200px);
-webkit-transition: all 1.5s ease;
   -moz-transition: all 1.5s ease;
	-ms-transition: all 1.5s ease;
     -o-transition: all 1.5s ease;
        transition: all 1.5s ease;
}

.scroll-indicator-wrapper.scroll-indicator-wrapper-position-secondary {
        opacity: 0;
   -moz-opacity: 0;
-webkit-opacity: 0;
filter: alpha(opacity=0);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
visibility: hidden;
-webkit-transform: translateY(200px);
   -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
     -o-transform: translateY(200px);
        transform: translateY(200px);
-webkit-transition: all .7s;
   -moz-transition: all .7s;
    -ms-transition: all .7s;
     -o-transition: all .7s;
        transition: all .7s;
}

.scroll-indicator {
position: fixed;
height: 60px;
width: 60px;
bottom: 80px;
left: 50%;
-webkit-transform: translate(-50%, 50%);
   -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
-webkit-transition: all 1.5s ease;
   -moz-transition: all 1.5s ease;
	-ms-transition: all 1.5s ease;
     -o-transition: all 1.5s ease;
        transition: all 1.5s ease;
cursor: pointer;
z-index: 105;
}

@media all and (min-width: 1920px) {
  .scroll-indicator {
    bottom: 110px;
  }
}

@media only screen and (max-width: 880px) {
  .scroll-indicator {
    height: 50px;
    width: 50px;
	bottom: 105px;
  }
}

@media only screen and (max-width: 640px) {
  .scroll-indicator {
    height: 50px;
    width: 50px;
	bottom: 133px;
  }
}

.scroll-indicator-correction {
bottom: 110px;
-webkit-transition: all 1.5s ease;
   -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
     -o-transition: all 1.5s ease;
        transition: all 1.5s ease;
}

.arrow {
position: relative;
color: #fff;
font-size: 16px;
text-align: center;
-webkit-transition: -webkit-transform 0.6s ease;
   -moz-transition: -moz-transform 0.6s ease;
        transition: transform 0.6s ease;
-webkit-animation: scroll-indicator 1s infinite;
   -moz-animation: scroll-indicator 1s infinite;
     -o-animation: scroll-indicator 1s infinite;
        animation: scroll-indicator 1s infinite;
animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
cursor: pointer;
}

.arrow-move-down {
position: relative;
top: 10px;
}

@media only screen and (max-width: 880px) {
  .arrow-move-down {
    top: 5px;
  }
}

@-webkit-keyframes scroll-indicator {
  0% {
    bottom: -13px;
  }
  50% {
    bottom: -8px;
  }
  100% {
    bottom: -13px;
  }
}

@-moz-keyframes scroll-indicator {
  0% {
    bottom: -13px;
  }
  50% {
    bottom: -8px;
  }
  100% {
    bottom: -13px;
  }
}

@keyframes scroll-indicator {
  0% {
    bottom: -13px;
  }
  50% {
    bottom: -8px;
  }
  100% {
    bottom: -13px;
  }
}


/* 20. to top arrow */
.to-top-arrow {
position: fixed;
right: 40px;
bottom: -10px;
width: 50px;
height: 50px;
line-height: 50px;
cursor: pointer;
font-size: 16px;
text-align: center;
color: #fff;
background: #111;
        opacity: 0;
   -moz-opacity: 0;
-webkit-opacity: 0;
filter: alpha(opacity=0);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
-webkit-transform: translateY(40px);
   -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
     -o-transform: translateY(40px);
        transform: translateY(40px);
-webkit-transition: all .7s;
   -moz-transition: all .7s;
    -ms-transition: all .7s;
     -o-transition: all .7s;
        transition: all .7s;
z-index: 115;
}

.to-top-arrow.show {
bottom: 10px;
-webkit-transform: translateY(-20px);
   -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
     -o-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 1;
   -moz-opacity: 1;
-webkit-opacity: 1;
filter: alpha(opacity=100);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.to-top-arrow:hover {
        opacity: 1;
   -moz-opacity: 1;
-webkit-opacity: 1;
filter: alpha(opacity=100);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}


/* 21. preloader */
.preloader-bg,
#preloader {
position: fixed;
width: 100%;
height: 100%;
overflow: hidden;
background: #fff;
z-index: 999999;
}

#preloader {
display: table;
table-layout: fixed;
}

#preloader-status {
display: table-cell;
vertical-align: middle;
}

.preloader-position {
position: relative;
margin: 0 auto;
text-align: center;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
        box-sizing: border-box;
}

.loader {
position: relative;
width: 45px;
height: 45px;
left: 50%;
top: 50%;
margin-left: -22px;
margin-top: 2px;
-webkit-animation: rotate 1s infinite linear;
   -moz-animation: rotate 1s infinite linear;
    -ms-animation: rotate 1s infinite linear;
     -o-animation: rotate 1s infinite linear;
        animation: rotate 1s infinite linear;
border: 3px solid rgba(0, 0, 0, .15);
-webkit-border-radius: 50%;
   -moz-border-radius: 50%;
    -ms-border-radius: 50%;
     -o-border-radius: 50%;
        border-radius: 50%;
}

.loader span {
position: absolute;
width: 45px;
height: 45px;
top: -3px;
left: -3px;
border: 3px solid transparent;
border-top: 3px solid rgba(0, 0, 0, .75);
-webkit-border-radius: 50%;
   -moz-border-radius: 50%;
    -ms-border-radius: 50%;
     -o-border-radius: 50%;
        border-radius: 50%;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* 22. hero */
/* 22.1. hero overlay */
.overlay:before {
content: "";
position: fixed;
display: block;
top: 0;
left: 0;
bottom: 0;
right: 0;
z-index: 1;
}

.overlay-dark-40:before {
background: rgba(0, 0, 0, .4);
-webkit-pointer-events: none;
   -moz-pointer-events: none;
        pointer-events: none;
}

.overlay-dark-40-video:before,
.overlay-dark-40-video-mobile:before {
background: rgba(0, 0, 0, .4);
-webkit-pointer-events: auto;
   -moz-pointer-events: auto;
        pointer-events: auto;
}

.overlay-dark-40-video-mobile:before {
display: none;
}

@media only screen and (max-width: 880px) {
  .overlay-dark-40-video-mobile:before {
    display: block;
  }
}


/* 22.2. hero container */ 
.hero-fullscreen {
position: fixed;
width: 100%;
height: 100%;
left: 0;
top: 0;
overflow: hidden;
z-index: 0;
}


/* 22.3. hero bg */
.hero-bg {
position: fixed;
width: 100%;
height: 100%;
overflow: hidden;
background-position: center center;
background-repeat: no-repeat;
-webkit-background-size: cover;
   -moz-background-size: cover;
    -ms-background-size: cover;
     -o-background-size: cover;
        background-size: cover;
}


/* 22.4. hero fullscreen FIX */
.hero-fullscreen-FIX {
width: 100%;
height: 100%;
}


/* 22.5. hero center container */
.hero-center-container {
position: relative;
display: table;
table-layout: fixed;
width: 100%;
height: 100%;
z-index: 1;
}

.hero-center-block {
display: table-cell;
vertical-align: middle;
}


/* 23. Slick v1.6.0 CUSTOM */
/* 23.1. slick slide */
.slick-slide {
height: 100%;
background: none;
}
		
.slick-slider {
margin-bottom: 0;
margin-top: 0;
cursor: auto;
}


/* 23.2. slick slide flickering FIX */
.slick-track,
.slick-list {
-webkit-perspective: 2000;
        perspective: 2000;
-webkit-backface-visibility: hidden;
        backface-visibility: hidden;
}


/* 23.3. slick fullscreen slideshow */
.slick-fullscreen-img-fill {
position: relative;
display: block;
width: 100%;
overflow: hidden;
}

.slick-fullscreen-img-fill img {
position: relative;
display: inline-block;
min-width: 100%;
max-width: none;
min-height: 100%;
}

.slick-fullscreen .slick-fullscreen-item .slick-fullscreen-img-fill,
.slick-fullscreen-slideshow .slick-fullscreen-item .slick-fullscreen-img-fill {
height: 100vh;
background: none;
}

.slick-fullscreen .slick-fullscreen-item .slick-fullscreen-img-fill .bg-img,
.slick-fullscreen-slideshow .slick-fullscreen-item .slick-fullscreen-img-fill .bg-img {
position: relative;
width: auto;
height: 100%;
background-position: center center;
background-repeat: no-repeat;
-webkit-background-size: cover;
   -moz-background-size: cover;
    -ms-background-size: cover;
     -o-background-size: cover;
        background-size: cover;
}

.slick-fullscreen .slick-dots,
.slick-fullscreen-slideshow .slick-dots {
position: absolute;
width: 100%;
height: 5px;
left: 0;
bottom: 0;
margin: 0;
padding: 0;
background: rgba(255, 255, 255, .25);
list-style-type: none;
}

.slick-fullscreen .slick-dots li button,
.slick-fullscreen-slideshow .slick-dots li button {
display: none;
}

.slick-fullscreen .slick-dots li,
.slick-fullscreen-slideshow .slick-dots li {
position: absolute;
float: left;
width: 0;
height: 5px;
left: -5px;
background: #fff;
}

.slick-fullscreen .slick-dots li.slick-active,
.slick-fullscreen-slideshow .slick-dots li.slick-active {
width: 100%;
-webkit-animation: progressDots 4s both;
   -moz-animation: progressDots 4s both;
    -ms-animation: progressDots 4s both;
     -o-animation: progressDots 4s both;
        animation: progressDots 4s both;
}

@-webkit-keyframes progressDots {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes progressDots {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.slick-fullscreen,
.slick-fullscreen-slideshow {
background: none;
}

.slick-fullscreen .slick-slide,
.slick-fullscreen-slideshow .slick-slide {
display: none;
float: left;
height: 100%;
}

.slick-initialized .slick-slide {
display: block;
}


/* 23.4. slick navigation */
.slick-prev:before,
.slick-next:before {
font-size: 15px;
color: #111;
}


/* 24. videos */
/* 24.1. YouTube video */
.YT-bg {
display: none;
}

@media only screen and (max-width: 880px) {
  .YT-bg {
    position: relative;
    height: 100%;
    background-image: url(../img/background/YT-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
        -ms-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
			/* uncomment the following to show an image for mobile devices */
            /* display: block; */
  }
}

#videoContainment {
position: fixed;
display: block;
width: 100%!important;
height: 100%!important;
left: 0;
top: 0;
bottom: 0;
right: 0;
background: #000;
z-index: 0;
}


/* 24.1.1. jquery.mb.YTPlayer v3.1.13 CUSTOM */
.mb_YTPBar .mb_YTPProgress {
background: #fff;
height: 10px;
}

.mb_YTPBar .mb_YTPseekbar {
background: #5f5f5f;
height: 10px;
}

.mb_YTPBar .mb_YTPLoaded {
background: #db0018;
}

.mb_YTPBar {
        opacity: 0.25;
   -moz-opacity: 0.25;
-webkit-opacity: 0.25;
filter: alpha(opacity=25);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
z-index: 100!important;
}

@media only screen and (max-width: 880px) {
  .mb_YTPBar {
    display: none;
	visibility: hidden;
  }
}

.mb_YTPBar.visible,
.mb_YTPBar:hover {
        opacity: 1;
   -moz-opacity: 1;
-webkit-opacity: 1;
filter: alpha(opacity=100);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.mb_YTPBar .buttonBar,
.mb_YTPBar:hover .buttonBar {
background: none;
}

.mb_YTPBar,
.mb_YTPBar span.mb_YTPUrl a {
color: #fff;
}

.mb_YTPBar .level {
background-color: #fff;
}

@media only screen and (max-width: 880px) {
  .mb_YTPBar span.mb_OnlyYT,
  .mb_YTPBar span.mb_YTPUrl {
    display: none;
	visibility: hidden;
  }
}

#changeVideo {
position: absolute;
top: 135px;
right: 155px;
width: auto;
margin: 0;
-webkit-transition: 1.2s cubic-bezier(0.67, 0.02, 0.2, 0.97) 2.3s;
   -moz-transition: 1.2s cubic-bezier(0.67, 0.02, 0.2, 0.97) 2.3s;
    -ms-transition: 1.2s cubic-bezier(0.67, 0.02, 0.2, 0.97) 2.3s;
     -o-transition: 1.2s cubic-bezier(0.67, 0.02, 0.2, 0.97) 2.3s;
        transition: 1.2s cubic-bezier(0.67, 0.02, 0.2, 0.97) 2.3s;
        opacity: 1;
   -moz-opacity: 1;
-webkit-opacity: 1;
filter: alpha(opacity=100);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
cursor: pointer;
z-index: 100;
}

@media only screen and (max-width: 880px) {
  #changeVideo {
	top: auto;
	bottom: 75px;
    right: 75px;
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
  }
}

.page-loaded #changeVideo {
        opacity: 1;
   -moz-opacity: 1;
-webkit-opacity: 1;
filter: alpha(opacity=100);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

#changeVideo .active {
color: #111;
background: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 480px) {
  .mb_YTPBar .mb_YTPUrl.ytpicon {
    display: none;
  }
}


/* 24.2. Vimeo video */
.vimeo-bg {
display: none;
}

@media only screen and (max-width: 880px) {
  .vimeo-bg {
    position: relative;
	display: block;
    height: 100%;
    background-image: url(../img/background/vimeo-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
        -ms-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
  
  #vimeo-videoContainment {
    display: none;
  }
}

#vimeo-videoContainment {
position: fixed;
display: block;
width: 100%!important;
height: 100%!important;
left: 0;
top: 0;
bottom: 0;
right: 0;
background: #000;
z-index: 0;
}

#vimeo-videoContainment iframe,
#vimeo-videoContainment object,
#vimeo-videoContainment embed {
border: none;
}


/* 24.3. HTML5 video */
.html5-bg {
display: none;
}

@media only screen and (max-width: 880px) {
  .html5-bg {
    position: relative;
    height: 100%;
	background-image: url(../img/background/html5-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
        -ms-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
			/* uncomment the following to show an image for mobile devices */
            /* display: block; */
  }
}

.html5-videoContainment {
position: fixed;
top: 50%;
left: 50%;
width: auto;
min-width: 100%;
height: auto;
min-height: 100%;
background: #000;
-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
z-index: 0;
}


/* 25. ken burns slideshow */
.kenburns-slide-wrapper {
position: relative;
width: 100%;
height: 100%;
left: 0;
top: 0;
overflow: hidden;
z-index: 0;
}

.kenburns-slide {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
        opacity: 0;
   -moz-opacity: 0;
-webkit-opacity: 0;
filter: alpha(opacity=0);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
-webkit-animation: KenBurnsSlideShow 24s linear infinite 0s;
   -moz-animation: KenBurnsSlideShow 24s linear infinite 0s;
    -ms-animation: KenBurnsSlideShow 24s linear infinite 0s;
     -o-animation: KenBurnsSlideShow 24s linear infinite 0s;
        animation: KenBurnsSlideShow 24s linear infinite 0s;
}

.kenburns-slide-1,
.kenburns-slide-2,
.kenburns-slide-3,
.kenburns-slide-4 {
background-repeat: no-repeat;
background-position: center;
-webkit-background-size: cover;
   -moz-background-size: cover;
    -ms-background-size: cover;
     -o-background-size: cover;
        background-size: cover;
}

.kenburns-slide-1 {
        opacity: 1;
   -moz-opacity: 1;
-webkit-opacity: 1;
filter: alpha(opacity=100);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.kenburns-slide-2 {
-webkit-animation-delay: 6s;
   -moz-animation-delay: 6s;
    -ms-animation-delay: 6s;
     -o-animation-delay: 6s;
        animation-delay: 6s;
}

.kenburns-slide-3 {
-webkit-animation-delay: 12s;
   -moz-animation-delay: 12s;
    -ms-animation-delay: 12s;
     -o-animation-delay: 12s;
        animation-delay: 12s;
}

.kenburns-slide-4 {
-webkit-animation-delay: 18s;
   -moz-animation-delay: 18s;
    -ms-animation-delay: 18s;
     -o-animation-delay: 18s;
        animation-delay: 18s;
}

@-webkit-keyframes KenBurnsSlideShow {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
 5% {
    opacity: 1
  }
 25% {
    opacity: 1;
  }
 30% {
    opacity: 0;
    -webkit-transform: scale(1.1);
  }
 100% {
    opacity: 0;
    -webkit-transformm: scale(1);
  }
}

@-moz-keyframes KenBurnsSlideShow {
  0% {
    opacity: 0;
    -moz-transform: scale(1);
  }
 5% {
    opacity: 1
  }
 25% {
    opacity: 1;
  }
 30% {
    opacity: 0;
    -moz-transform: scale(1.1);
  }
 100% {
    opacity: 0;
    -moz-transform: scale(1);
  }
}

@-o-keyframes KenBurnsSlideShow {
  0% {
    opacity: 0;
    -o-transform: scale(1);
  }
 5% {
    opacity: 1
  }
 25% {
    opacity: 1;
  }
 30% {
    opacity: 0;
    -o-transform: scale(1.1);
  }
 100% {
    opacity: 0;
    -o-transform: scale(1);
  }
}

@keyframes KenBurnsSlideShow {
  0% {
    opacity: 0;
	    transform: scale(1);
    -ms-transform: scale(1);
  }
 5% {
    opacity: 1
  }
 25% {
    opacity: 1;
  }
 30% {
    opacity: 0;
	    transform: scale(1.1);
    -ms-transform: scale(1.1);
  }
 100% {
    opacity: 0;
	    transform: scale(1);
    -ms-transform: scale(1);
  }
}