@charset "utf-8";
/* CSS Document */


/*
  TEMPLATE BACKGROUNDS
    single IMG BACKGROUND
    benefits IMG BACKGROUND
	parallax IMG BACKGROUND
  reset
  layout
  upper page
  center container
  section
  footer
    footer credits
  main navigation
  shadow
  hero container
    hero bg
	hero fullscreen FIX
  to top arrow
  Slick v1.6.0 CUSTOM
    slick left
    slick right
    slick navigation
  intro
  intro years
  facts counter
  skills bar    
  parallax
  link underline
  link underline menu
  button effect
  three step method
  newsletter form
    newsletter placeholders
  fullwidth IMG
  preloader
  Swiper v3.4.2 CUSTOM
  home carousel slider
  NEW
    layout
    preview
    works hover
    vertical spacer line
	spacer
*/


/* TEMPLATE BACKGROUNDS */
/* single IMG BACKGROUND */
.bg-img-SINGLE {
background-image: url(../intro-images/img/background/SINGLE-bg.jpg);
}


/* benefits IMG BACKGROUND */
.img-fullwidth-benefits-carousel-1 {
background-image: url(../intro-images/img/benefits/benefits-carousel-1.jpg);
}

.img-fullwidth-benefits-carousel-2 {
background-image: url(../intro-images/img/benefits/benefits-carousel-2.jpg);
}

.img-fullwidth-benefits-carousel-3 {
background-image: url(../intro-images/img/benefits/benefits-carousel-3.jpg);
}

.img-fullwidth-benefits-carousel-4 {
background-image: url(../intro-images/img/benefits/benefits-carousel-4.jpg);
}


/* parallax IMG BACKGROUND */
.parallax-facts {
background-image: url(../intro-images/img/parallax/parallax-going-live.jpg);
}

.parallax-contact {
background-image: url(../intro-images/img/parallax/parallax-contact.jpg);
}


/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

html, body {
height: 100%;
line-height: 170%;
}

body {
/* line-height: 1; */
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}

ol, ul {
list-style: none;
}

blockquote, q {
quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
content: '';
content: none;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

*:focus {  
outline: none;
}

/* remove dotted outline from links,
button and input element */
a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
border: 0;
outline: 0;
}


/* layout */
body {
font-family: 'Raleway', sans-serif;
font-size: 14px;
line-height: 1.5;
font-style: normal;
font-weight: 400;
text-align: left;
color: #5f5f5f;
background: #fff;
 -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
width: 100%;
height: 100%;
overflow-x: hidden;
overflow-y: auto;
margin: 0;
padding: 0;
}

a {
color: #000;
text-decoration: none;
outline: none;
 -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
-webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}

a:hover,
a:visited,
a:active,
a:focus {
color: #000;
text-decoration: none;
outline: none;
-webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}

p {
 -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

p a {
color: #000;
text-decoration: none;
font-style: italic;
outline: none;
-webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}

p a:hover {
color: #5f5f5f;
text-decoration: none;
outline: none;
-webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}

strong {
font-weight: bold;
}

::-moz-selection { background: #000; color: #fff; }
     ::selection { background: #000; color: #fff; }


/* upper page */
.upper-page {
position: relative;
width: 100%;
height: 100%;
overflow: hidden;
left: 0;
top: 0;
margin: 0;
}

@media only screen and (max-width: 640px) {
  .upper-page {
    height: 100%;
  }
}


/* center container */
.center-container {
position: absolute;
display: table;
table-layout: fixed;
width: 100%;
height: 100%;
background: none;
}

.center-block {
display: table-cell;
vertical-align: middle;
}


/* section */
.sections {
position: relative;
z-index: 5;
}

section {
position: relative;
width: 100%;
height: auto;
padding: 193px 0 0 0;
}

section#demos {
position: relative;
width: 100%;
height: auto;
padding: 159px 0 0 0;
}

section#benefits {
position: relative;
width: 100%;
height: auto;
padding: 197px 0 0 0;
}

section#three-step-method {
padding: 193px 0 271px 0;
}

@media only screen and (max-width: 640px) {
  section#three-step-method {
    padding: 193px 0 230px 0;
  }
}

@media only screen and (max-width: 480px) {
  section#three-step-method {
    padding: 193px 0 209px 0;
  }
}

section p {
padding-bottom: 10px;
}

section.extra-spacer {
margin: 200px 0 0 0;
}

section.section-parallax {
padding: 0;
margin-top: -7px;
margin-bottom: -200px;
}

section h2.section-heading {
position: relative;
font-family: 'Oswald', sans-serif;
font-size: 50px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: -0.04em;
color: #000;
z-index: 1;
}

section h2.section-heading.light {
font-size: 25px;
color: #fff;
padding: 0 10px;
}

section h2.section-heading.light span {
color: #db0018;
}

section h2.section-heading.secondary {
font-size: 25px;
}

section h3.section-subheading {
position: relative;
font-family: 'Oswald', sans-serif;
font-size: 12px; font-size: 15px;
font-weight: 400;
font-style: italic;
text-transform: none;
margin-bottom: 75px;
z-index: 1;
}

section h3.section-subheading.section-subheading-about {
margin-bottom: 77px;
}

section h3.section-subheading.section-subheading-demos {
margin-bottom: 61px;
}

section h3.section-subheading.section-subheading-benefits {
margin-bottom: 81px;
}

section h3.section-subheading.section-subheading-three-step-method {
margin-bottom: 72px;
}

section h3.section-subheading.light {
color: #fff;
}

.nopadding {
padding: 0!important;
margin: 0!important;
}


/* footer */
#footer {
padding: 171px 0 148px 0;
text-align: center;
}


/* footer credits */
.footer-credits {
text-align: center;
}

.footer-credits-logo {
margin: 0 auto;
}

.footer-credits-copyright-wrapper {
height: 40px;
}

.footer-credits-copyright {
position: relative;
text-align: center;
margin: 0 auto;
font-size: 75%;
z-index: 100;
}

.footer-credits-copyright a {
color: #000;
text-decoration: none;
outline: none;
-webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}

.footer-credits-copyright a:hover {
color: #000;
text-decoration: none;
outline: none;
-webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}


/* main navigation */
.logo .logo-light {
        opacity: 1;
   -moz-opacity: 1;
-webkit-opacity: 1;
filter: alpha(opacity=100);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
height: auto;
}

.logo .logo-dark {
        opacity: 0;
   -moz-opacity: 0;
-webkit-opacity: 0;
filter: alpha(opacity=0);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
height: 0;
}

.main-navigation-bg .logo .logo-light {
        opacity: 0;
   -moz-opacity: 0;
-webkit-opacity: 0;
filter: alpha(opacity=0);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
height: 0;
}

.main-navigation-bg .logo .logo-dark {
        opacity: 1;
   -moz-opacity: 1;
-webkit-opacity: 1;
filter: alpha(opacity=100);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
height: auto;
}

.navbar-bg-switch {
position: fixed;
width: 100%;
top: 0;
left: 0;
-webkit-transition: all .4s ease-out;
   -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
     -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
z-index: 999;
}

.logo {
padding-top: 21px;
-webkit-transition: all .4s ease-out;
   -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
     -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
}

@media only screen and (max-width: 768px) {
  .logo {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 880px) {
  .logo.logo-bordered {
    padding-top: 61px;
  }
}

.main-navigation .navbar-nav li a {
font-family: 'Raleway', sans-serif;
font-size: 11px;
letter-spacing: 1px;
text-transform: uppercase;
text-decoration: none;
color: #fff;
padding: 50px 15px 35px 15px;
-webkit-transition: all .4s ease-out;
   -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
     -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
}

@media only screen and (min-width: 880px) {
  .main-navigation.main-navigation-bordered .navbar-nav li a {
	padding: 90px 15px 35px 15px;
  }
}

.main-navigation.dark .navbar-nav li a {
color: #000;
}

@media only screen and (max-width: 768px) {
.main-navigation .navbar-nav li a {
    color: #000;
	padding: 10px 15px;
  }
}

.main-navigation .navbar-nav li a:hover {
color: #fff;
-webkit-transition: all .4s ease-out;
   -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
     -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
}

.main-navigation.dark .navbar-nav li a:hover {
color: #000;
}

@media only screen and (max-width: 768px) {
 .main-navigation .navbar-nav li a:hover {
    color: #000;
  }
}

.nav li a:focus,
.nav li a:hover {
color: #fff;
background: none;
-webkit-transition: all .4s ease-out;
   -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
     -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
}

.main-navigation-bg {
background: rgba(255, 255, 255, 1);
-webkit-transition: all .4s ease-out;
   -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
     -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .35);
   -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .35);
        box-shadow: 0 0 5px rgba(0, 0, 0, .35);
}

.main-navigation-bg-bordered {
background: rgba(255, 255, 255, 1);
-webkit-transition: all .4s ease-out;
   -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
     -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
-webkit-box-shadow: none;
   -moz-box-shadow: none;
        box-shadow: none;
}

.main-navigation-bg .logo {
padding-top: 5px;
-webkit-transition: all .4s ease-out;
   -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
     -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
}

@media only screen and (max-width: 768px) {
  .main-navigation-bg .logo {
    padding-top: 5px;
  }
}

.main-navigation-bg .main-navigation .navbar-nav li a {
color: #000;
padding: 19px 15px 0 15px;
-webkit-transition: all .4s ease-out;
   -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
     -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
}

@media only screen and (max-width: 768px) {
  .main-navigation-bg .main-navigation .navbar-nav li a {
    padding: 10px 15px;
  }
}

.main-navigation-bg .main-navigation .navbar-nav li a:hover {
color: #000;
}

@media only screen and (max-width: 768px) {
  .navbar-toggle .icon-bar {
    background: #fff;
  }
  
  .navbar-toggle.dark .icon-bar {
    background: #000;
  }
  
  .main-navigation-bg .navbar-toggle .icon-bar {
    background: #000;
  }
  
  .navbar-toggle {
    margin-top: -30px;
    margin-right: -10px;
    -webkit-transition: all .4s ease-out;
       -moz-transition: all .4s ease-out;
        -ms-transition: all .4s ease-out;
         -o-transition: all .4s ease-out;
            transition: all .4s ease-out;
  }
	
  .main-navigation-bg .navbar-toggle {
    margin-top: -45px;
    margin-right: -10px;
    -webkit-transition: all .4s ease-out;
       -moz-transition: all .4s ease-out;
        -ms-transition: all .4s ease-out;
         -o-transition: all .4s ease-out;
            transition: all .4s ease-out;
  }
  
  .navbar-collapse {
    background: rgba(255, 255, 255, 1);
  }
}

.main-navigation-bg .link-underline-menu:before {
bottom: -5px;
background: #000;
}

.main-navigation .navbar-nav li .active,
.main-navigation.dark .navbar-nav li .active {
}

.main-navigation-bg .main-navigation .navbar-nav li .active,
.main-navigation-bg.dark .main-navigation .navbar-nav li .active {
}

.navbar-nav li.active {
color: #ccc!important;
text-decoration: none;
}

.navbar-nav > .active > a {
color: #ccc!important;
background: none;
text-decoration: none;
}


/* shadow */
/*
.top-shadow {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: -moz-linear-gradient(top, rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, .1) 100%);
background: -webkit-linear-gradient(top, rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, .1) 100%);
background: linear-gradient(to bottom, rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, .1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
-webkit-pointer-events: none;
   -moz-pointer-events: none;
        pointer-events: none;
z-index: 2;
}
*/

.top-shadow {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(0, 0, 0, .6);
-webkit-pointer-events: none;
   -moz-pointer-events: none;
        pointer-events: none;
z-index: 2;
}


/* hero container */ 
.hero-fullscreen {
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
overflow: hidden;
z-index: 0;
}


/* hero bg */
.hero-bg {
position: relative;
width: 100%;
height: 100%;
background-position: center center;
background-repeat: no-repeat;
-webkit-background-size: cover;
   -moz-background-size: cover;
    -ms-background-size: cover;
     -o-background-size: cover;
        background-size: cover;
}


/* hero fullscreen FIX */ 
.hero-fullscreen-FIX {
width: 100%;
height: 100%;
}


/* to top arrow */
.to-top-arrow {
position: fixed;
right: 20px;
bottom: -10px;
width: 50px;
height: 50px;
line-height: 47px;
cursor: pointer;
font-size: 25px;
text-align: center;
color: #fff;
background: #000;
        opacity: 0;
   -moz-opacity: 0;
-webkit-opacity: 0;
filter: alpha(opacity=0);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
-webkit-border-radius: 3px;
   -moz-border-radius: 3px;
        border-radius: 3px;
-webkit-transform: translateY(40px);
   -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
     -o-transform: translateY(40px);
        transform: translateY(40px);
-webkit-transition: all .6s ease;
   -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
     -o-transition: all .6s ease;
        transition: all .6s ease;
z-index: 10;
}

.to-top-arrow.show {
bottom: 0;
-webkit-transform: translateY(-20px);
   -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
     -o-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 1;
   -moz-opacity: 1;
-webkit-opacity: 1;
filter: alpha(opacity=100);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.to-top-arrow:hover {
        opacity: 1;
   -moz-opacity: 1;
-webkit-opacity: 1;
filter: alpha(opacity=100);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

@media only screen and (min-width: 880px) {
  .to-top-arrow-bordered {
    right: 60px;
  }

  .to-top-arrow-bordered.show {
    bottom: 40px;
  }
}


/* Slick v1.6.0 CUSTOM */
.slick-slide {
text-align: center;
color: #000;
height: 550px;
background: #fff;
}

@media only screen and (max-width: 880px) {
  .slick-slide {
    height: 450px;
  }
}

@media only screen and (max-width: 640px) {
  .slick-slide {
    height: 350px;
  }
}
		
.slick-slider {
margin-bottom: 0;
margin-top: 0;
cursor: default;
}


/* slick left */
.slick-left {
width: 100%;
height: auto;
}

.slick-left p {
padding: 20px;
}


/* slick right */
.slick-right {
width: 100%;
height: auto;
}


/* slick navigation */
.slick-prev,
.slick-next {
position: absolute;
display: block;
top: 50%;
width: 56px;
height: 56px;
line-height: 56px;
text-align: center;
-webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
   -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
     -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        opacity: 0;
   -moz-opacity: 0;
-webkit-opacity: 0;
filter: alpha(opacity=0);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
z-index: 1;
}

.slick-prev {
left: -50px;
}

.slick-next {
right: -50px;
}

.slick-prev:before,
.slick-next:before {
font-size: 14px;
color: #000;
padding-top: 10px;
-webkit-border-radius: 3px;
   -moz-border-radius: 3px;
        border-radius: 3px;
display: block;
width: 66%;
height: 66%;
position: absolute;
background: rgba(255, 255, 255, 1);
-webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
   -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
     -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        opacity: 1;
   -moz-opacity: 1;
-webkit-opacity: 1;
filter: alpha(opacity=100);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.slick-prev:before {
left: 55px;
top: 9px;
}

.slick-next:before {
right: 55px;
top: 9px;
}

.slick-prev:hover,
.slick-next:hover {
-webkit-transition: 0 none;
   -moz-transition: 0 none;
	-ms-transition: 0 none;
     -o-transition: 0 none;
        transition: 0 none;
        opacity: 1;
   -moz-opacity: 1;
-webkit-opacity: 1;
filter: alpha(opacity=100);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:active:before,
.slick-next:active:before,
.slick-right-alternative:hover .slick-prev,
.slick-right-alternative:hover .slick-next {
        opacity: 1;
   -moz-opacity: 1;
-webkit-opacity: 1;
filter: alpha(opacity=100);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.slick-right-alternative:hover .slick-prev {
left: -35px;
}

.slick-right-alternative:hover .slick-next {
right: -35px;
}


/* intro */
.purchase-button {
position: relative;
width: 225px;
text-align: center;
margin: 0 auto;
cursor: pointer;
}

/*
h1.home-page-title {
position: relative;
font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 145px;
text-align: center;
text-transform: uppercase;
letter-spacing: -0.04em;
color: #fff;
margin: 12px auto 8px auto;
width: 100%;
line-height: 100%;
z-index: 1;
}
*/

h1.home-page-title {
position: relative;
font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 105px;
text-align: center;
text-transform: uppercase;
letter-spacing: -0.04em;
color: #fff;
margin: 18px auto 10px auto;
width: 100%;
line-height: 100%;
z-index: 1;
}

@media only screen and (max-width: 1200px) {
  h1.home-page-title {
    /*
	font-size: 105px;
	margin: 18px auto 10px auto;
	*/
  }
}

@media only screen and (max-width: 880px) {
  h1.home-page-title {
    font-size: 85px;
	margin: 22px auto 10px auto;
  }
}

@media only screen and (max-width: 640px) {
  h1.home-page-title {
    font-size: 65px;
	margin: 19px auto 7px auto;
  }
}

h2.home-page-title {
font-family: 'Dosis', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 12px;
text-align: center;
text-transform: uppercase;
letter-spacing: 0.65em;
color: #fff;
margin: 0 0 0 12px;
}

@media only screen and (max-width: 880px) {
  h2.home-page-title {
    font-size: 11px;
	margin: 0 0 0 11px;
  }
}

@media only screen and (max-width: 640px) {
  h2.home-page-title {
    font-size: 10px;
	margin: 0 0 0 9px;
  }
}


/* intro years */
.intro-years {
position: relative;
width: auto;
height: auto;
margin: 253px auto 0 auto;
}

.intro-years h2 {
font-family: 'Montserrat', Arial, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 11px;
text-align: center;
text-transform: uppercase;
letter-spacing: 0.65em;
color: #000;
margin: 32px 0;
}

.intro-years h3 {
position: relative;
font-family: 'Montserrat', Arial, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 105px; font-size: 155px;
text-align: center;
text-transform: uppercase;
letter-spacing: 0.05em;
color: #000;
width: 100%;
line-height: 100%;
z-index: 0;
}


/* facts counter */
.facts-counter-wrapper {
padding: 0;
margin-top: -9px;
}

.contact-info-wrapper {
padding: 0;
margin-top: -8px;
}

.facts-counter-number {
font-family: 'Oswald', sans-serif;
font-size: 35px;
font-weight: 400;
line-height: 1.3;
text-align: center;
color: #fff;
}

@media only screen and (max-width: 880px) {
  .facts-counter-number {
	margin: 20px 0 0 0;
  }
}

.facts-counter-number.large {
font-size: 50px;
}

@media only screen and (max-width: 880px) {
  .facts-counter-number.large {
    font-size: 35px;
  }
}

.facts-counter-description,
.contact-info-description {
color: #fff;
text-align: center;
text-transform: uppercase;
}

.facts-counter-description-img,
.contact-info-description-img {
display: block;
font-size: 25px;
text-align: center;
color: #fff;
margin: 15px 0 15px 0;
}

@media only screen and (max-width: 880px) {
  .facts-counter-description-img,
  .contact-info-description-img {
    font-size: 20px;
	margin: 10px 0 10px 0;
  }
}

.facts-counter-description-img.large,
.contact-info-description-img.large {
font-size: 40px;
}

@media only screen and (max-width: 880px) {
  .facts-counter-description-img.large,
  .contact-info-description-img.large {
    font-size: 20px;
	margin: 10px 0 10px 0;
  }
}

.facts-counter-title,
.contact-info-text {
font-size: 11px;
letter-spacing: 0.05em;
}

@media only screen and (max-width: 880px) {
  .facts-counter-title,
  .contact-info-text {
    font-size: 10px;
  }
}

.facts-counter-title.large,
.contact-info-text.large {
font-size: 12px;
}

@media only screen and (max-width: 880px) {
  .facts-counter-title.large,
  .contact-info-text.large {
    font-size: 10px;
  }
}


/* skills bar */
.show-skillbar {
position: relative;
padding: 0 20px;
margin: 40px 0 0 0;
text-align: left;
}

@media only screen and (max-width: 880px) {
  .show-skillbar {
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .show-skillbar {
	padding: 0 30px 0 20px;
  }
}

.skillbar {
position: relative;
display: inline-block;
width: 100%;
height: 21px;
margin: 0 0 30px 0;
background: none;
}

.skillbar-title {
position: absolute;
width: auto;
height: 21px;
line-height: 21px;
top: -21px;
left: 0;
font-family: 'Montserrat', sans-serif;
font-size: 10px;
font-weight: 400;
text-transform: uppercase;
color: #000;
background: none;
padding: 0;
}

.skillbar-bar {
display: inline-block;
width: 0px;
height: 3px;
background: #000;
margin: 0 0 3px 0;
}

.skill-bar-percent {
position: absolute;
height: auto;
line-height: 1;
top: -21px;
right: 0;
color: #000;
font-size: 11px;
}


/* parallax */
.parallax-overlay {
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
background: rgba(0, 0, 0, .75);
z-index: 0;
}

.parallax {
display: block;
width: 100%;
height: 100%;
overflow: hidden;
padding: 200px 0;
}

.parallax-facts {
position: relative;
background-repeat: no-repeat;
background-position: center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
        -ms-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
border: 100px solid #000;
z-index: 1;
}

.parallax-contact {
position: relative;
background-repeat: no-repeat;
background-position: center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
        -ms-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
border: 100px solid #000;
z-index: 1;
}

@media only screen and (max-width: 880px) {
  .parallax-facts,
  .parallax-contact {
    -webkit-background-size: cover;
       -moz-background-size: cover;
        -ms-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    border: 50px solid #000;
  }
}

@media only screen and (max-width: 640px) {
  .parallax-facts,
  .parallax-contact {
    border: 25px solid #000;
  }
}


/* link underline */
.link-underline {
position: relative;
display: inline-block;
}

.link-underline::before {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 1px;
background: #000;
-webkit-transform-origin: right center;
   -moz-transform-origin: right center;
    -ms-transform-origin: right center;
        transform-origin: right center;
-webkit-transform: scale(0, 1);
   -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
     -o-transform: scale(0, 1);
        transform: scale(0, 1);
-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
   -moz-transition: -moz-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: -ms-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
     -o-transition: -o-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.link-underline.contact::before {
bottom: -5px;
background: #fff;
}

.link-underline.three-step-method::before {
bottom: -5px;
background: #5f5f5f;
width: 150px;
}

a.contact, a:hover.contact {
color: #fff;
}

.link-underline:hover::before {
-webkit-transform-origin: left center;
   -moz-transform-origin: left center;
    -ms-transform-origin: left center;
        transform-origin: left center;
-webkit-transform: scale(1, 1);
   -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
     -o-transform: scale(1, 1);
        transform: scale(1, 1);
}


/* link underline menu */
.link-underline-menu {
position: relative;
text-decoration: none;
cursor: pointer;
}

.link-underline-menu:before {
content: "";
position: absolute;
width: 100%;
height: 1px;
bottom: 11px;
left: 0;
background: #fff;
visibility: hidden;
-webkit-transform: scaleX(0);
   -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
     -o-transform: scaleX(0);
        transform: scaleX(0);
-webkit-transition: all 0.4s ease-in-out 0s;
   -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
     -o-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
}

.link-underline-menu.dark:before {
background: #000;
}

.link-underline-menu:hover:before {
visibility: visible;
-webkit-transform: scaleX(1);
   -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
     -o-transform: scaleX(1);
        transform: scaleX(1);
}

@media only screen and (max-width: 768px) {
  .link-underline-menu:hover:before {
    visibility: hidden;
  }
}


/* button effect */
.c-btn {
position: relative;
display: inline-block;
border: 1px solid #000;
background: none;
letter-spacing: 0.25em;
font-weight: 700;
font-size: 10px;
text-transform: uppercase;
text-align: center;
color: #000;
margin: 20px 0 0 0;
padding: 15px 25px;
-webkit-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
   -moz-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
     -o-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.c-btn.fullwidth {
width: 225px;
}

.c-btn.fullwidth-liquid {
width: 225px;
color: #fff;
background: rgba(219, 0, 24, 1);
border: none;
}

.c-btn::before {
content: "";
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: #000;
-webkit-transform-origin: right center;
   -moz-transform-origin: right center;
    -ms-transform-origin: right center;
        transform-origin: right center;
-webkit-transform: scale(0, 1);
   -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
     -o-transform: scale(0, 1);
        transform: scale(0, 1);
-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
   -moz-transition: -moz-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: -ms-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
     -o-transition: -o-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.c-btn.fullwidth-liquid::before {
background: #fff;
}

.c-btn:hover::before,
a:hover .c-btn::before {
-webkit-transform-origin: left center;
   -moz-transform-origin: left center;
    -ms-transform-origin: left center;
        transform-origin: left center;
-webkit-transform: scale(1, 1);
   -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
     -o-transform: scale(1, 1);
        transform: scale(1, 1);
}

.c-btn span {
display: inline-block;
position: relative;
z-index: 2;
}

.c-btn:hover,
a:hover .c-btn {
color: #fff;
}

.c-btn.fullwidth-liquid:hover {
color: #000;
}


/* three step method */
.three-step-method-heading {
font-family: 'Oswald', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 700;
text-transform: uppercase;
margin: 3px 0 15px 0;
text-align: left;
color: #000;
}

.three-step-method-number {
position: absolute;
top: 0;
font-family: "Montserrat", sans-serif;
font-size: 140px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: -0.04em;
color: rgba(0, 0, 0, .45);
z-index: -1;
}

#three-step-method p {
padding-left: 100px;
text-align: left;
}

@media only screen and (max-width: 880px) {
  .three-step-method-number {
    font-size: 100px;
  }
  
  .three-step-method-block.middle {
    margin: 80px 0;
  } 
}


/* newsletter form */
section h2.section-heading.newsletter {
font-size: 25px;
margin-bottom: 20px;
}

@media only screen and (max-width: 480px) {
  section h2.section-heading.newsletter {
    font-size: 20px;
  }
}

#subscribe-wrapper {
position: relative;
width: 300px;
height: 160px;
margin: 69px auto 81px auto;
background: none;
text-align: center;
}

@media only screen and (max-width: 480px) {
  #subscribe-wrapper {
    width: 260px;
  }
}

.newsletter {
position: relative;
clear: both;
border: none;
background: none;
padding: 0;
overflow: hidden;
}

#subscribe input {
position: relative;
width: 225px;
height: 40px;
text-align: center;
color: #000;
border: none;
border-bottom: 1px solid #000;
background: none;
-webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}

#subscribe input:focus, #subscribe textarea:focus {
color: #000;
-webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}

#subscribe input:hover {
border-color: rgba(119, 119, 119, .5);
-webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}

.subscribe-success {
font-family: 'Dosis', sans-serif;
font-size: 11px;
font-style: normal;
font-weight: 500;
letter-spacing: 0.15em;
text-transform: uppercase;
text-align: center;
color: #000;
margin: 0 auto;
padding: 80px 0 0 0;
line-height: 1;
 -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

#subscribe .subscribe-error {
font-size: 9px;
text-transform: uppercase;
text-align: center;
color: #5f5f5f;
display: block;
margin: 8px auto 0 auto;
padding: 0;
letter-spacing: 0.15em;
 -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}


/* newsletter placeholders */
input[type="text"].subscribe-email::-webkit-input-placeholder {
color: #000;
}

input[type="text"].subscribe-email:-ms-input-placeholder{
color: #000;
}

input[type="text"].subscribe-email::-moz-placeholder {
color: #000;
}

input:focus.subscribe-email::-webkit-input-placeholder { color: transparent; }
     input:focus.subscribe-email:-ms-input-placeholder { color: transparent; }
         input:focus.subscribe-email::-moz-placeholder { color: transparent; }
          input:focus.subscribe-email:-moz-placeholder { color: transparent; }


/* fullwidth IMG */
.img-fullwidth-wrapper {
position: relative;
}

.img-fullwidth {
min-height: 600px;
}

@media (min-width: 992px) {
  .img-fullwidth {
    position: absolute;
	width: 50vw;
    height: auto;
    top: 0;
    bottom: 0;
  }
}

@media only screen and (max-width: 640px) {
  .img-fullwidth {
    min-height: 350px;
  }
}

.img-fullwidth-all {
background-repeat: no-repeat;
background-position: center center;
-webkit-background-size: cover;
   -moz-background-size: cover;
    -ms-background-size: cover;
     -o-background-size: cover;
        background-size: cover;
}


/* preloader */
.preloader-bg {
position: fixed;
width: 100%;
height: 100%;
overflow: hidden;
background: #fff;
z-index: 999999;
}

#preloader {
position: fixed;
display: table;
table-layout: fixed;
width: 100%;
height: 100%;
overflow: hidden;
background: #fff;
z-index: 999999;
}

#preloader-status {
display: table-cell;
vertical-align: middle;
}

.preloader-position {
position: relative;
margin: 0 auto;
text-align: center;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
        box-sizing: border-box;
}

.loader {
position: relative;
width: 45px;
height: 45px;
left: 50%;
top: 50%;
margin-left: -22px;
margin-top: 2px;
-webkit-animation: rotate 1s infinite linear;
   -moz-animation: rotate 1s infinite linear;
    -ms-animation: rotate 1s infinite linear;
     -o-animation: rotate 1s infinite linear;
        animation: rotate 1s infinite linear;
border: 3px solid rgba(0, 0, 0, .15);
-webkit-border-radius: 50%;
   -moz-border-radius: 50%;
    -ms-border-radius: 50%;
     -o-border-radius: 50%;
        border-radius: 50%;
}

.loader span {
position: absolute;
width: 45px;
height: 45px;
top: -3px;
left: -3px;
border: 3px solid transparent;
border-top: 3px solid rgba(0, 0, 0, .75);
-webkit-border-radius: 50%;
   -moz-border-radius: 50%;
    -ms-border-radius: 50%;
     -o-border-radius: 50%;
        border-radius: 50%;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* NEW */
/* layout */
h2 {
font-family: 'Oswald', sans-serif;
/* font-size: 20px; */
font-size: 13px;
font-weight: 400;
font-style: normal;
text-transform: uppercase;
color: #555;
text-align: center;
margin: 0 auto;
padding: 0;
line-height: 1;
}


/* preview */
img {
vertical-align: middle;
max-width: 100%;
}

.preview-img-info {
padding: 19px 0 14px 0;
}

.preview-corner {
position: absolute;
display: block;
width: 40px;
height: 40px;
/* top: -20px;
right: -20px; */
top: -10px;
right: -10px;
background: #db0018;
-webkit-border-radius: 50%;
   -moz-border-radius: 50%;
    -ms-border-radius: 50%;
     -o-border-radius: 50%;
        border-radius: 50%;
}

.preview-corner-txt {
position: absolute;
top: 12px;
right: 7px;
font-family: 'Dosis', sans-serif;
font-size: 12px;
letter-spacing: 0.05em;
font-weight: 400;
color: #fff;
text-transform: uppercase;
}


/* works hover */
.icon-works {
position: absolute; 
width: 100%;
top: 50%;
text-align: center;
        opacity: 0;
   -moz-opacity: 0;
-webkit-opacity: 0;
filter: alpha(opacity=0);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
-webkit-transition: all 0.35s ease-out;
   -moz-transition: all 0.35s ease-out;
    -ms-transition: all 0.35s ease-out;
	 -o-transition: all 0.35s ease-out;
        transition: all 0.35s ease-out;
-webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
        transform: translateY(-50%);
-webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
z-index: 1;
}

.icon-works a {
position: relative;
display: inline-block;
vertical-align: middle;
text-decoration: none;
/* width: 44px; */
/* width: 244px; */
width: 180px;
height: 44px;
line-height: 44px;
margin: 0 auto 0 -10px;
/* font-size: 20px; */
background: #000;
border: 1px solid #000;
color: #fff;	
-webkit-transition: all 0.35s ease-out;
   -moz-transition: all 0.35s ease-out;
    -ms-transition: all 0.35s ease-out;
	 -o-transition: all 0.35s ease-out;
        transition: all 0.35s ease-out;
}

.icon-works a.iw-slide-left {
-webkit-transform: translate3d(-60px,0,0);
   -moz-transform: translate3d(-60px,0,0);
    -ms-transform: translate3d(-60px,0,0);
     -o-transform: translate3d(-60px,0,0);
        transform: translate3d(-60px,0,0);
}

.icon-works a.iw-slide-right {
-webkit-transform: translate3d(60px,0,0);
   -moz-transform: translate3d(60px,0,0);
    -ms-transform: translate3d(60px,0,0);
     -o-transform: translate3d(60px,0,0);
        transform: translate3d(60px,0,0);
}

.image-works:hover .icon-works a {
-webkit-transform: translate3d(0,0,0)!important;
   -moz-transform: translate3d(0,0,0)!important;
    -ms-transform: translate3d(0,0,0)!important;
     -o-transform: translate3d(0,0,0)!important;
        transform: translate3d(0,0,0)!important;
}

.icon-works a:hover {
background: #000;
border: 1px solid #000;
color: #fff;
}

.icon-works a:hover:after {
background: #000;
}

.image-works:hover .icon-works {
        opacity: 1;
   -moz-opacity: 1;
-webkit-opacity: 1;
filter: alpha(opacity=100);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.icon-works a:before {
position: relative;
z-index: 1;
}

.icon-works a i {
position: relative;
z-index: 1;
}

.image-works {
position: relative;
z-index: 5!important;
padding: 5px;
margin-top: 40px;
border: 1px solid #ccc;
}

.image-works>.hover-effect {
position: absolute;
left: 0;
top: 0;
background: #fff;
width: 100%;
height: 100%;
        opacity: 0;
   -moz-opacity: 0;
-webkit-opacity: 0;
filter: alpha(opacity=0);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
-webkit-transition: opacity 0.35s ease-out;
   -moz-transition: opacity 0.35s ease-out;
    -ms-transition: opacity 0.35s ease-out;
	 -o-transition: opacity 0.35s ease-out;
        transition: opacity 0.35s ease-out;
/*
width: -webkit-calc(100% - 20px);
width: -moz-calc(100% - 20px);
width: calc(100% - 20px);
height: -webkit-calc(100% - 20px);
height: -moz-calc(100% - 20px);
height: calc(100% - 20px);
top: 10px;
left: 10px;
bottom: 10px;
right: 10px;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
*/
}

.image-works:hover .hover-effect {
        opacity: 0.75;
   -moz-opacity: 0.75;
-webkit-opacity: 0.75;
filter: alpha(opacity=75);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}

.zoom-item {
font-family: 'Dosis', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.25em;
 -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


/* vertical spacer line */
.spacer-line-vertical {
position: relative;
display: inline-block;
}

.spacer-line-vertical:after {
content: "";
position: absolute;
width: 1px;
height: 100px;
top: 100%;
left: 50%;
margin: 69px auto 0 auto;
border-right: 1px solid #5f5f5f;
}


/* spacer */
.move-up {
margin-top: -20px;
}